.emacs.d/ac-comphist.dat
.emacs.d/auto-save-list/
.emacs.d/el-get/
.emacs.d/elpa/
.emacs.d/smex-items
.emacs.d/recentf
.emacs.d/semanticdb/
.emacs.d/srecode-map.el
.emacs.d/elpa/archives/gnu/archive-contents
.emacs.d/elpa/archives/gnu/archive-contents.signed

