[core]
        excludesfile = ~/.gitignore_global

[alias]
  p = !git push origin `git rev-parse --abbrev-ref HEAD`
  unstage = reset HEAD  
[user]
	email = y-inoue@oita-ct.ac.jp
	name = yusuke.inoue
