[core]
        excludesfile = ~/.gitignore_global

[alias]
  p = !git push origin `git rev-parse --abbrev-ref HEAD`
  unstage = reset HEAD  
[user]
	email = yusuke.inoue@cpc.ait.kyushu-u.ac.jp
	name = yusuke.inoue
